{% load static %}
<header class="bg-dark text-white bg-opacity-75">
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-dark">
            <a class="navbar-brand d-flex align-items-center" href="{% url 'blog:index' %}">
                <img src="{% static 'img/logo.png' %}" width="50" height="50" class="d-inline-block align-top" alt="">
                <span class="ms-2">Musical</span>
            </a>
            {% with request.resolver_match.view_name as view_name %}
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item">
                            <a class="nav-link {% if view_name == 'blog:about' %} text-white {% endif %}" href="{% url 'blog:about' %}">О проекте</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {% if view_name == 'playlists' %} text-white {% endif %}" href="{% url 'blog:playlists' %}">Плейлисты</a>
                        </li>
                    </ul>
                </div>
                {% if user.is_authenticated %}
                    <div class="btn-group" role="group" aria-label="Basic outlined example">
                        <button type="button" class="btn btn-outline-primary"><a class="text-decoration-none text-reset text-white"
                            href="{% url 'blog:post_create' %}">Написать пост</a></button>
                        <button type="button" class="btn btn-outline-primary"><a class="text-decoration-none text-reset text-white"
                            href="{% url 'blog:playlist_create' %}">Создать плейлист</a></button>
                        <button type="button" class="btn btn-outline-primary"><a class="text-decoration-none text-reset"
                            href="{% url 'blog:profile' user.username %}">{{ user.username }}</a></button>
                        <button type="button" class="btn btn-outline-primary"><a class="text-decoration-none text-reset"
                            href="{% url 'logout' %}">Выйти</a></button>
                    </div>
                {% else %}
                    <div class="btn-group" role="group" aria-label="Basic outlined example">
                      <button type="button" class="btn btn-outline-primary"><a class="text-decoration-none text-reset"
                          href="{% url 'login' %}">Войти</a></button>
                      <button type="button" class="btn btn-outline-primary"><a class="text-decoration-none text-reset"
                          href="{% url 'registration' %}">Регистрация</a></button>
                    </div>
                {% endif %}
            {% endwith %}
        </nav>

    </div>
</header>
