{% load static %}
<header class="bg-dark text-white bg-opacity-75">
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-dark">
            <a class="navbar-brand d-flex align-items-center" href="{% url 'blog:index' %}">
                <img src="{% static 'img/logo.png' %}" width="50" height="50" class="d-inline-block align-top" alt="">
                <span class="ms-2">Musical</span>
            </a>
            {% with request.resolver_match.view_name as view_name %}
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item">
                            <a class="nav-link {% if view_name == 'blog:about' %} text-white {% endif %}" href="{% url 'blog:about' %}">О проекте</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {% if view_name == 'blog:profile' %} text-white {% endif %}" href="{% url 'blog:profile' %}">Профиль</a>
                        </li>
                    </ul>
                </div>
            {% endwith %}
        </nav>
    </div>
</header>
