body {
    background-image: url('/static/img/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
  }

.text-left {
    text-align: left !important;
}

.detail-bold-large {
  font-weight: bold;
  font-size: 1.3em;
}

.text-green{
  color: rgb(0, 255, 0);
}

.text-orange{
  color: orange;
}

.text-red{
  color: red;
}

.text-blue{
  color: rgb(0, 4, 248);
}

.page-item a.page-link {
  background-color: rgba(255, 255, 255, 0.082);
  color: white; 
}

.stars {
  font-size: 50px;
}

.star {
  cursor: pointer;
  margin-right: 5px;
}

.star.active, .star:hover {
  color: gold;
}