{% extends "base.html" %}
{% block title %}
  {{ post.name }}
{% endblock %}
{% block content %}
  {% load static %}
<div class="container mt-5 d-flex justify-content-center align-items-center">
    <div class="card" style="background: rgba(255, 255, 255, 0.2); border: none; border-radius: 10px; box-shadow: 0 2px 6px rgba(0, 0, 0, 0.7); width: 40rem;">
        <div class="card-body text-center">
          <div class="img-container overflow-hidden" style="border-radius: 10px;">
              <img class="card-img-top" src="{{ post.image.url }}" alt="{{ post.name }}">
          </div>
          <div class="d-flex justify-content-around mt-3">
              <audio id="audioPlayer{{ post.id }}" src="{{ post.audio.url }}" preload="auto"></audio>
              <button class="btn" onclick="playAudio{{ post.id }}()">
                  <img id="btnPlayImg" src="{% static 'svg/play.svg' %}" alt="Play" style="width: 4em; height: 4em; border-radius: 50%;">
              </button>
              <a href="#" class="d-flex align-items-center justify-content-center">
                  <img src="{% static 'svg/favorites.svg' %}" alt="Favorites" style="width: 3em; height: 3em; border-radius: 50%;">
              </a>
          </div>
          <p class="card-text mt-3 text-left detail-bold-large">Название публикации: {{ post.name|truncatewords:50 }}</p>
          <p class="card-text mt-3 text-left detail-bold-large">Дата публикации: {{ post.pub_date }}</p>
          <p class="card-text mt-3 text-left detail-bold-large">Жанры: {% for genre in post.genre.all %}{{ genre.name }}{% if not forloop.last %}, {% endif %}{% endfor %}</p>
          <p class="card-text mt-3 text-left detail-bold-large">
            Рейтинг: 
            <span class="{% if average_score >= 4.5 %}text-green{% elif average_score >= 3 %}text-orange{% else %}text-red{% endif %}">
              {{ average_score }}
            </span>
          </p>
          <p class="card-text mt-3 text-left detail-bold-large">Автор: {{ post.author }}</p>
          {% if user == post.author %}
            <div class="mb-2">
              <a class="btn btn-primary me-2" href="{% url 'blog:edit_post' post.id %}" role="button">
                Редактировать публикацию
              </a>
              <a class="btn btn-danger" href="{% url 'blog:post_delete' post.id %}" role="button">
                Удалить публикацию
              </a>
            </div>          
          {% endif %}
        <div class="text-left">
          {% include "includes/reviews.html" %}
        </div>
        </div>
    </div>
</div>

<script>
  function playAudio{{ post.id }}() {
      var audioPlayer = document.getElementById('audioPlayer{{ post.id }}');
      var imgElement = document.getElementById('btnPlayImg');
      
      if (audioPlayer.src && not currentlyPlaying) {
          if (audioPlayer.paused) {
              audioPlayer.play();
          } else {
              audioPlayer.pause();
              audioPlayer.currentTime = 0;
          }
      }
  }
</script>
{% endblock %}