{% extends "base.html" %}

{% block title %}
  Лента записей
{% endblock %}

{% block content %}
  <form class="form-inline my-2 my-lg-0 d-flex align-items-center" action="#" method="get">
    <div class="mr-sm-2">
        <input class="form-control" name="q" type="text" placeholder="Поиск..." value="{{ request.GET.q }}">
    </div>
    <button class="btn btn-success my-sm-2" type="submit">Искать</button>
  </form>
  {% for post in posts %}
    {% include "includes/post_card.html" %}
  {% endfor %}
  {% include "includes/paginator.html" %}
{% endblock %}