{% extends "base.html" %}
{% load django_bootstrap5 %}
{% block title %}
  {% if '/update_review/' in request.path %}
    Редактирование отзыва
  {% else %}
    Удаление отзыва
  {% endif %}
{% endblock %}
{% block content %}
  {% if user.is_authenticated %}
    <div class="col d-flex justify-content-center">
      <div class="card" style="width: 40rem;">
        <div class="card-header">
          {% if '/update_review/' in request.path %}
            Редактирование отзыва
          {% else %}
            Удаление отзыва
          {% endif %}
        </div>
        <div class="card-body">
          <form method="post" {% if '/update_review/' in request.path %} action="#" {% endif %}>
            {% csrf_token %}
            {% if not '/delete_review/' in request.path %}
              <div class="mb-3">
                {% bootstrap_form form %}
              </div>
            {% else %}
              <p>{{ review.text }}</p>
            {% endif %}
            <div class="d-grid">
              {% bootstrap_button button_type="submit" content="Отправить" %}
            </div>
          </form>
        </div>
      </div>
    </div>
  {% endif %}
{% endblock %}
